/* Üldine */
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Header ja nav */
header {
    width: 100%;
    padding: 20px 60px;
}
h1 {
    font-size: 70px;
    font-family: "Sacramento", cursive;
    margin-bottom: 10px;
}

nav {
    margin-top: -5px;
}

nav a {
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    letter-spacing: 3px;
}

/* Kaks tulpa */
.container {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: 40px auto;
    gap: 40px;
}

/* Vasak ja parem veerg */
.vasak, .parem {
    flex: 1;
}

/* Galerii kast */
.galerii {
    border: 2px solid black;
    height: 500px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: "Brush Script MT", cursive;
}

/* Social ikoonid */
.social {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 15px;
}

.ring {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.ring img {
    width: 28px;
    height: 28px;
}

/* Google maps kast */
.maps {
    border: 2px solid black;
    height: 320px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: "Brush Script MT", cursive;
}

/* Aadress + ajad */
.info {
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    font-family: "Brush Script MT", cursive;
}
